

<headless-popover popper placement="bottom bottom-start" offset="0 12" class="relative inline-block">

    <button type="button"
            class="flex flex-cols text-base font-medium px-3 py-1 rounded-md text-gray-500 hover:text-gray-900 dark:text-gray-200 dark:hover:text-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 "
            aria-expanded="false"
            aria-haspopup="true"
            id="{{item.name}}"
    >
        <span>{{item.name}}</span>
        <svg class="text-gray-400 ml-2 h-5 w-5 group-hover:text-gray-500"
             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
             aria-hidden="true">
            <path fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"/>
        </svg>
    </button>
    <div aria-labelledby="{{item.name}}"
         class="absolute z-10 left-1/2 transform -translate-x-1/2 px-2 w-screen max-w-md sm:px-0">
        <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
            {% for sub in item.sub %}
            <div class="relative grid gap-6 bg-white sm:p-8">
                <a href="{{ sub.url | prelative_path }}" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-shrink-0 h-6 w-6 text-primary-600">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0l-3.75-3.75M17.25 21L21 17.25" />
                    </svg>
                    <div class="ml-4">
                        <p class="text-base font-medium text-gray-900">{{sub.name}}</p>
                        <p class="mt-1 text-sm text-gray-500">Get all of your questions answered in our
                            forums or contact support.</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</headless-popover>
