
<headless-navigation
        class="block fixed shadow dark:shadow-gray-800 inset-x-0 z-40 top-0 bg-gray-100/70 dark:bg-gray-900/70 backdrop-blur-md group">
  <div class="wrapper">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex items-center px-2 lg:px-0">
        <div class="flex-shrink-0">
            <a href="{{ site.url }}">
                <span class="sr-only">{{ site.title }}</span>
                <img class="h-8 w-auto sm:h-10 dark:hidden" src="{{'/assets/img/vh.svg' | absolute_url }}"  alt="{{ site.title }}">
                <img class="h-8 w-auto sm:h-10 hidden dark:block"  src="{{'/assets/img/vh-dark.svg' | absolute_url }}"  alt="{{
              site.title }}">
            </a>
        </div>
        <div class="hidden lg:block lg:ml-6">
          <div class="flex space-x-4">
            {% for link in site.data.nav %}
                <a href="{{link.url}}"
                   class=" text-gray-800 hover:bg-gray-300 hover:text-gray-900 hover:dark:bg-gray-800 dark:text-gray-100 px-3 py-2 rounded-md text-sm font-medium">{{link
                  .name}}</a>
             {% endfor %}
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            {% include parts/mode-toggle.liquid %}
          </div>
        </div>
      </div>
      <div class="flex-1 flex justify-center px-2 lg:ml-6 lg:justify-end">
        {% include parts/search.liquid %}
      </div>
      <div class="flex lg:hidden">
        <!-- Mobile menu button -->
        <button type="button"
                class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white " aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6 group-data-state-close:block group-data-state-open:hidden"
               xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <svg class="group-data-state-close:hidden group-data-state-open:block h-6 w-6"
               xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="lg:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
    {% for link in site.data.nav %}
      <a href="{{link.url}}" class=" text-gray-800 hover:bg-gray-300 hover:text-gray-900 hover:dark:bg-gray-800 dark:text-gray-100 px-3 py-2 rounded-md text-sm font-medium block">{{link.name}}</a>
    {% endfor %}
    </div>
  </div>
</headless-navigation>

